<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- El proveedor ADO.NET  -->
    <add key="PROVEEDOR_ADONET" value="System.Data.SqlClient" />
    <!-- La cadena de conexion -->
    <add key="CADENA_CONEXION" value="Data Source=pcstream\SQLEXPRESS;
			DataBase=bd_asistomatica;Connect Timeout=5;Persist Security Info=False;User ID=usr;Password=123"/>
  </appSettings>
</configuration>